@model Beruwala_Mirror.Models.Admin.AdvertiseModel
@{
    ViewData["Title"] = "Create new News feed";
}

    <h1>Create a Advertisement feed</h1>

@using (Html.BeginForm("SaveAdvertisement", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
   
    <div class="form-group">
        @Html.LabelFor(m => m.MainImage)
        @Html.TextBoxFor(m => m.MainImage, new { Type = "file" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NoOfDaysToAdvertise)
        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
<div class="form-group"> <!-- Date input -->
    <label class="control-label" for="date">Date</label>
    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
</div>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var options={
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>